html, body {
    margin: 0px 0px !important;
    width: 100% !important;
    height: 100% !important;
}

/*iframe {*/
    /*margin: 0px 0px !important;*/
    /*width: 100% !important;*/
    /*height: 600px !important;*/
    /*border: none;*/
/*}*/

.scrum-stage .task.task-card {
    margin: 0 8px 8px !important;
}

.task.task-card {
    /*height: 40px;*/
    background-color: rgba(197, 192, 192, 0.58);
    border-radius: 3px !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
    cursor: pointer !important;
    margin-left: -42px !important;
    z-index: 999999 !important;
    margin-top: 5px;
    margin-right: 0px;
    padding: 10px 0 10px 5px !important;
}

.checkbox label {
    margin: 12px !important;
}

li {
    list-style-type: none !important;
}

.paneldocker {
    position: relative;
    height: 100%;
    padding: 10px;
}

.panelheight {
    position: relative;
    height: 100%;
}

/*.cbp-spmenu-push{*/
/*overflow:scroll !important;*/
/*overflow-x:hidden !important;*/
/*}*/
.bs-callout-danger {
    border-left-color: #ce4844;
    border-left-width: 5px;
}

/*.board-view {*/
    /*position: fixed;*/
    /*top: 50px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*transition: all 218ms ease;*/
/*}*/

.task-panel {
    position: relative;
    height: 100%;
}

.board-scrum-view {
    position: relative;
    height: 100%;
    background-color: #FFF;
    border-style: solid;
    border-width: 0;
    border-color: #E5E5E5;
    overflow-y: hidden;
    overflow-x: hidden;
}

.task-card > .checkbox > input[type="checkbox"] {
    position: absolute;
    margin-top: 13px;
    margin-left: -7px;
}

.pull-right.taskname {
    float: right !important;
    margin-top: -42px;
    margin-right: 10px;
}

.dropdown-color {
    height: 40px !important;
    background-color: #bebbbf !important;
}

.overflow-card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}